<h1>Create New User</h1>

<form action="/create_user" method="POST">
  <input name="username" placeholder="Username" />
  <input name="email" placeholder="Email" />
  <input name="password" placeholder="Password" />
  <input type="submit" value="Create User" />
</form>
